.register-container, 
.login-container,
.address-edit-container {
    max-width: 680px;
    margin: 30px auto;
    padding: 30px;
    background: #fff;
    border: none;
}

.register-container h1,
.login-container h1,
.address-edit-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    font-size: 14px;
}

.btn {
    width: 100%;
    background-color: #FF5555;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
}

.btn:hover {
    background-color: brown;
}

.register-container input,
.login-container input,
.register-container .btn,
.login-container .btn {
    box-sizing: border-box;
}

.login-link a,
.register-link a {
    text-decoration: none;
    color: #007bff;
    display: block;
    text-align: center;
    margin: 25px;
}

.verify-container {
    text-align: center;
    padding-top: 150px;
}

.verify-message {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 1.8;
}

.verify-form {
    margin-bottom: 52px;
}

.verify-button {
    padding: 15px 26px;
    font-size: 20px;
    font-weight: bold;
    border: solid 1px #000;
    background: #D9D9D9;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
}

.verify-button:hover {
    opacity: 0.9;
}

.resend-button {
    background: none;
    border: none;
    color: #0073CC;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.resend-button:hover {
    opacity: 0.8;
}