.mypage-container {
    max-width: 1017px;
    margin: 80px auto;
    background: white;
    position: relative;
}

.mypage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
}

.user-info-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.user-info-left p {
    font-size: 40px;
    font-weight: bold;
}

.user-info-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    border: 2px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    display: block;
    background-color: #ccc;
}

.edit-btn {
    width: 310px;
    height: 59px;
    background-color: #fff;
    border: 2px solid #FF5555;
    color: #FF5555;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.edit-btn:hover {
    background-color: darkred;
}

.mypage-tabs {
    display: flex;
    border-bottom: 3px solid #bbb;
    background: #fff;
    height: 47px;
    align-items: center;
    gap: 50px;
    padding-left: 150px;
}

.mypage-tabs a {
    text-decoration: none;
    color: #555;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 6px;
    border-bottom: 3px solid transparent;
    transition: 0.2s;
}

.mypage-tabs a.active {
    color: #FF5555;
    border: none;
}

.item-item:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.item-name,
.item-price {
    margin: 8px;
    text-align: left;
}

.item-price {
    font-weight: bold;
}

.no-items {
    text-align: center;
    margin: 60px;
    color: #888;
}

.select-btn {
    border: 2px solid #FF5555;
    background-color: white;
    color: #FF5555;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.select-btn:hover {
    background-color: red;
    color: white;
}

/* モーダル用 */
.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
}

.modal-close-btn {
    margin-top: 15px;
    padding: 6px 12px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.badge.pending {
    background: orange;
    color: white;
    padding: 4px 6px;
    margin: 10px;
    border-radius: 2px;
    font-size: 12px;
}

.badge.paid {
    background: #28a745;
    color: white;
    padding: 4px 6px;
    border-radius: 2px;
    font-size: 12px;
}