.profile-edit-container {
    max-width: 680px;
    width: 100%;
    margin: 30px auto;
    padding: 30px;
    background: #fff;
    border: none;
    box-sizing: border-box;
}

.profile-edit-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

/* 横並びに配置 */
.image-upload {
    display: flex;
    margin: 40px 0;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    /* 画像とボタンの間隔 */
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* 丸くする */
    background-color: #ccc;
    /* グレー背景 */
    object-fit: cover;
    /* 画像を枠いっぱいに */
    display: block;
    margin-bottom: 10px;
}

/* 画像選択ボタン */
.select-btn {
    width: 179px;
    height: 49px;
    background-color: #fff;
    border: 2px solid red;
    color: red;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

/* ホバー時 */
.select-btn:hover {
    background-color: red;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    font-size: 14px;
}

.btn {
    width: 100%;
    background-color: red;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
}

.btn:hover {
    background-color: brown;
}

.register-container input,
.login-container input,
.register-container .btn,
.login-container .btn {
    box-sizing: border-box;
    /* パディング込みで幅を揃える */
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}