.purchase-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px;
    background: #fff;
    font-family: "Hiragino Sans", "Noto Sans JP", sans-serif;
}

.left-column {
    width: 60%;
}

.right-column {
    width: 30%;
}

.item-info {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 60px;
}

.item-info img {
    width: 177.53px;
    height: 177.53px;
    object-fit: cover;
    border: 1px solid #ddd;
}

.item-detail h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.item-detail p {
    font-size: 24px;
    color: #000;
}

/* 横線 */
.divider {
    width: 805px;
    height: 1px;
    background-color: #000;
    margin: 0;
}

.payment-section {
    width: 326px;
    height: 85px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.payment-section h2 {
    font-size: 20px;
    font-weight: bold;
}

.form-section {
    margin: 0 80px 50px 80px;
}

.payment-select {
    width: 265px;
    height: 31px;
    box-sizing: border-box;
    border: 1px solid #5F5F5F;
    border-radius: 3px;
    font-size: 16px;
    padding: 0 7px;
    cursor: pointer;
}

.payment-select:focus {
    background-color: #5F5F5F;
    color: #fff;
    outline: none;
}

select option[disabled][selected] {
    display: none;
}

.address-section {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.address-header {
    width: 326px;
    height: 85px;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0 20px;
}

.address-header h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px;
}

.address-edit-link {
    width: 115px;
    height: 85px;
    display: flex;
    border: none;
    align-items: center;
}

.address-edit-link a {
    color: blue;
    text-decoration: none;
}

.address-content {
    width: 280px;
    height: 58px;
    margin: 0 80px 50px 80px;
}
.purchase-summary {
    width: 440px;
    height: 230px;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-bottom: 60px;
}

.purchase-summary th,
.purchase-summary td {
    width: 50%;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    vertical-align:middle;
}

.purchase-summary th {
    color: #000;
    font-weight: 600;
}

.purchase-btn {
    display: block;
    width: 440px;
    height: 60px;
    text-align: center;
    background: #FF5555;
    color: #fff;
    padding: 14px 0;
    font-size: 16px;
    transition: background 0.2s;
    margin-top: 10px;
    border-style: none;
}

.purchase-btn:hover {
    background: darkred;
}